/* Variables */

$paleta_colores: (
    azul1: #caf0f8,
    azul2: #90e0ff,
    azul3: #00b4d8,
    azul4: #023e8a,
    azul5: #03045e
);

$trans_carrusel: (
    0%: -100%,
    10%: -100%,
    20%: -200%,
    30%: -200%,
    40%: -300%,
    50%: -300%,
    60%: -400%,
    70%: -400%,
    80%: 0,
    90%: 0,
    100%: -100%
);