/* Receteo de CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

img{
    object-fit: cover;
}

#check{
    display: none;
}

.tituloPagina{
    background-color: map-get($paleta_colores, azul1);
    color: map-get($paleta_colores, azul4);
    padding: 10px 45px;
    text-align: center;
    font-size: 19px;
}

@media (min-width: 768px){
    .tituloPagina{
        font-size: 23px;
    }
}